
<!-- jQuery -->
<script src="http://static.trrdrr.biz/js/jquery-1.7.2.min.js"></script>
<!-- jQuery UI -->
<script src="http://static.trrdrr.biz/js/jquery-ui-1.8.21.custom.min.js"></script>


<script type="text/javascript">
    function  addtrr()
    {
        var errorFree = false;
        var url = $("#main-input-txt").val();
        var parser = document.createElement('a');
        parser.href = $("#main-input-txt").val();

        var protocol = parser.protocol;

        var validProtocol = ['magnet:', 'http:'];
        if ($.inArray(protocol, validProtocol) > -1)
        {

            errorFree = true;
        }

//        parser.host;     // => "example.com:3000"
//        parser.hostname; // => "example.com"
//        parser.port;     // => "3000"
//        parser.pathname; // => "/pathname/"
//        parser.hash;     // => "#hash"
//        parser.search;   // => "?search=test"
        if (errorFree)
        {
            $.post("/addTrr", {
                csrfmiddlewaretoken: "{{csrf_token}}",
                url: url
            }).done(function(data) {
//                alert('Save Success!');
                if (data == "No User Logged In")
                {
                    alert("Please Login!!")
                    window.location.replace("/letmeIn");
                }
                else
                {
                    afterFormLoad(form);
                }

            }).fail(function() {
                alert('Save Failed!');
            });
        }
        else
        {
            $('.invalidurl').show();
            $('.main-input-ctrlgp').addClass('error');

        }
        return false;
    }


    function  deleteTorrent(btn, pk)
    {
        $.post("/delTorrent", {
            csrfmiddlewaretoken: "{{csrf_token}}",
            pk: pk
        }).done(function(data) {
            $(btn).parents('tr:first').slideUp();
            $(btn).parents('tr:first').remove();
            afterFormLoad(form);
        }).fail(function() {
            alert('Delete Failed!');
        });
    }

</script>



<!-- transition / effect library -->
<script src="http://static.trrdrr.biz/js/bootstrap-transition.js"></script>
<!-- alert enhancer library -->
<script src="http://static.trrdrr.biz/js/bootstrap-alert.js"></script>
<!-- modal / dialog library -->
<script src="http://static.trrdrr.biz/js/bootstrap-modal.js"></script>
<!-- custom dropdown library -->
<script src="http://static.trrdrr.biz/js/bootstrap-dropdown.js"></script>
<!-- scrolspy library -->
<script src="http://static.trrdrr.biz/js/bootstrap-scrollspy.js"></script>
<!-- library for creating tabs -->
<script src="http://static.trrdrr.biz/js/bootstrap-tab.js"></script>
<!-- library for advanced tooltip -->
<script src="http://static.trrdrr.biz/js/bootstrap-tooltip.js"></script>
<!-- popover effect library -->
<script src="http://static.trrdrr.biz/js/bootstrap-popover.js"></script>
<!-- button enhancer library -->
<script src="http://static.trrdrr.biz/js/bootstrap-button.js"></script>
<!-- accordion library (optional, not used in demo) -->
<script src="http://static.trrdrr.biz/js/bootstrap-collapse.js"></script>
<!-- carousel slideshow library (optional, not used in demo) -->
<script src="http://static.trrdrr.biz/js/bootstrap-carousel.js"></script>
<!-- autocomplete library -->
<script src="http://static.trrdrr.biz/js/bootstrap-typeahead.js"></script>
<!-- tour library -->
<script src="http://static.trrdrr.biz/js/bootstrap-tour.js"></script>
<!-- library for cookie management -->
<script src="http://static.trrdrr.biz/js/jquery.cookie.js"></script>
<!-- calander plugin -->
<script src='http://static.trrdrr.biz/js/fullcalendar.min.js'></script>
<!-- data table plugin -->
<script src='http://static.trrdrr.biz/js/jquery.dataTables.min.js'></script>

<!-- chart libraries start -->
<script src="http://static.trrdrr.biz/js/excanvas.js"></script>
<script src="http://static.trrdrr.biz/js/jquery.flot.min.js"></script>
<script src="http://static.trrdrr.biz/js/jquery.flot.pie.min.js"></script>
<script src="http://static.trrdrr.biz/js/jquery.flot.stack.js"></script>
<script src="http://static.trrdrr.biz/js/jquery.flot.resize.min.js"></script>
<!-- chart libraries end -->

<!-- select or dropdown enhancer -->
<script src="http://static.trrdrr.biz/js/jquery.chosen.min.js"></script>
<!-- checkbox, radio, and file input styler -->
<script src="http://static.trrdrr.biz/js/jquery.uniform.min.js"></script>
<!-- plugin for gallery image view -->
<script src="http://static.trrdrr.biz/js/jquery.colorbox.min.js"></script>
<!-- rich text editor library -->
<script src="http://static.trrdrr.biz/js/jquery.cleditor.min.js"></script>
<!-- notification plugin -->
<script src="http://static.trrdrr.biz/js/jquery.noty.js"></script>
<!-- file manager library -->
<script src="http://static.trrdrr.biz/js/jquery.elfinder.min.js"></script>
<!-- star rating plugin -->
<script src="http://static.trrdrr.biz/js/jquery.raty.min.js"></script>
<!-- for iOS style toggle switch -->
<script src="http://static.trrdrr.biz/js/jquery.iphone.toggle.js"></script>
<!-- autogrowing textarea plugin -->
<script src="http://static.trrdrr.biz/js/jquery.autogrow-textarea.js"></script>
<!-- multiple file upload plugin -->
<script src="http://static.trrdrr.biz/js/jquery.uploadify-3.1.min.js"></script>
<!-- history.js for cross-browser state change on ajax -->
<script src="http://static.trrdrr.biz/js/jquery.history.js"></script>
<!-- application script for Charisma demo -->
<script src="http://static.trrdrr.biz/js/charisma.js"></script>


