{% include "header.html" %}

<div class="container-fluid">
    <div class="row-fluid">

        <!-- left menu starts -->
        {% include "sidePanel.html" %}        
        <!-- left menu ends -->

        <noscript>
        <div class="alert alert-block span10">
            <h4 class="alert-heading">Warning!</h4>
            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
        </noscript>

        <div id="content" class="span10">
            <!-- content starts -->

