</div>


</div><!--/.fluid-container-->
<footer>
    <hr>
    <p class="pull-left">&copy; <a href="/" target="_blank">Trr-Drr-Biz</a> 2013</p>
</footer>
<!-- external javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{% include "bottomJavaScripts.html" %}
</body>
</html>
<style>
    .navbar .brand:hover {
        border-bottom: 0px !important;
    }
    footer
    {
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background: #121417;

    }
    footer hr
    {
        margin: 0px
    }
    footer p
    {
        margin-left: 30px !important;
        margin-top: 10px
    }
</style>