<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Trr-Drr-Biz : An Intelligent Torrnet Cache</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Trr-Drr-Biz">

        <!-- The styles -->
        <link id="bs-css" href="http://static.trrdrr.biz/css/bootstrap-cyborg.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-bottom: 40px;
            }
            .sidebar-nav {
                padding: 9px 0;
            }
        </style>
        <link href="http://static.trrdrr.biz/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="http://static.trrdrr.biz/css/charisma-app.css" rel="stylesheet">
        <link href="http://static.trrdrr.biz/css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
        <link href='http://static.trrdrr.biz/css/fullcalendar.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/fullcalendar.print.css' rel='stylesheet'  media='print'>
        <link href='http://static.trrdrr.biz/css/chosen.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/uniform.default.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/colorbox.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/jquery.cleditor.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/jquery.noty.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/noty_theme_default.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/elfinder.min.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/elfinder.theme.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/jquery.iphone.toggle.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/opa-icons.css' rel='stylesheet'>
        <link href='http://static.trrdrr.biz/css/uploadify.css' rel='stylesheet'>
        <link href="http://static.trrdrr.biz/css/trrdrr.css" rel="stylesheet">

        <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- The fav icon -->
        <link rel="shortcut icon" href="img/favicon.ico">

    </head>

    <body>
        <!-- topbar starts -->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/" style="width: auto" > <span>Trr-Drr-Biz</span></a>
                    <div class="btn-group pull-right" >
                        {% if user.is_authenticated %}


                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i><span class="hidden-phone">Welcome {{user}} </span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/dashboard">DashBoard</a></li>
                            <!--<li class="divider"></li>-->
                            <li><a href="/letmeOut">Logout</a></li>
                        </ul>
                        {% else %}
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user"></i><span class="hidden-phone"> Login / Register</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/register">Register</a></li>
                            <li class="divider"></li>
                            <li><a href="/letmeIn">Login</a></li>
                        </ul>
                        {% endif %}
                    </div>
                    <!-- user dropdown ends -->

                    <!--                    <div class="top-nav nav-collapse">-->
                    <!--                        <ul class="nav">-->
                    <!--                            <li><a href="#">Visit Site</a></li>
                                                <li>
                                                    <form class="navbar-search pull-left">
                                                        <input placeholder="Search" class="search-query span2" name="query" type="text">
                                                    </form>
                                                </li>-->
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>