{% include "header.html" %}

<div class="container-fluid">
    <div class="row-fluid">
        <noscript>
        <div class="alert alert-block span10">
            <h4 class="alert-heading">Warning!</h4>
            <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
        </div>
        </noscript>

        <div id="content" class="span10">
            <h2>Q: How it works</h2>
            <p>
                TrrDrr have a high intelligent torrent caching mechanism which will cache low speed torrents.<br>
                When it finishes caching, it will be available as direct links like http://download.trrdrr/example.
            </p>
            <p>
                Just Add a torrent by pasting the magnet link or link to torrent file and wait for the trrdrr to finish caching.<br>
                The cached files will be kept on your account for some days(depending on the type of account).<br>
                You can download the files using the direct links available on the `drr` page.<br>
                To get a high speed download we recommend you to use any download tools like aria2c, flash get or IDM(Internet Download Manager).<br>
            </p>
            <h2>Q: How to get Started</h2>
            <p>
                1. Register for a new account, We don't ask much, just an email address and password is enough to get started.<br>
                2. Go to DashBoard.<br>
                3. Paste the Torrent file url and Submit.<br>
                4. Torrents will live in trrs while they are caching so you can check the progress on Trrs Tab.<br>
                5. Go to Drrs tab to get the completed torrent list.<br>
                6. Click Download to get the files.<br>
                7. Files will be in ziped format, you need a zip utility like winzip to unzip it.<br>
            </p>
            <h2>Q: How is it going?</h2>
            <p>
            Well, its going good!, We are on the beta stage of our product.<br>
            So we allocated only a  limited resources for each user.<br>
            Now the limitations are : <br>
            1. Only torrents having maximum of 2GB of Size is permitted.<br>
            2. All cached files will available only for a week.<br>
            3. A user can run parallel caching or multiple torrents but total size should not exceed 2GB.<br>
            
            If you are interested in experiencing <strong>Premium features</strong> before we launch, please mail us through the Contact us Form.
            
            </p>
        </div>
            <!-- content starts -->


    {% include "dashBoardDown.html" %}