{% include "dashBoardUp.html" %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="#">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Login</a>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon icon-user icon-orange"></i> Login</h2>
            <div class="box-icon">
            </div>
        </div>
        <div class="box-content" >
            <div class="clearfix"></div>
            <div class="input-append" id="main-input-div">
                <div class="control-group main-input-ctrlgp ">
                    <!--<label class="control-label" for="inputError"></label>-->
                    <div class="controls">

                        <form class="form-horizontal" action="" method="post">
                            {% csrf_token %}
                            {% if loginerror %}
                            <p class="error">Sorry, that's not a valid username or password</p>
                            {% endif %}


                            <label for="username">User name:</label>
                            <input type="text" name="username" value="" id="username">
                            <label for="password">Password:</label>
                            <input type="password" name="password" value="" id="password">

                            <input class="btn btn-inverse" type="submit" value="login" />
                            
                            <!--<input type="hidden" name="next" value="{{ next|escape }}" />-->

                          
                        </form>
                    </div>
                </div>

            </div>

            <!--<input type="file" maxlength="500" style="opacity: 0;">-->
            <div class="clearfix"></div>
        </div>
    </div>
</div>


{% include "dashBoardDown.html" %}