{% include "dashBoardUp.html" %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="/myTrrs">My Trrs</a>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon icon-archive icon-orange"></i> Active Torrent Uploads</h2>
            <div class="box-icon">
                <!--                                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>-->
                <!--<a href="#" class="btn btn-minimize"><i class="icon icon-orange icon-arrow-4diag"></i></a>-->
                <!--                                    <a href="#" class="btn-close"><i class="icon-remove"></i></a>-->
            </div>
        </div>
        <div class="box-content" >
            <div class="clearfix"></div>
            <table class="table table-striped table-bordered ">
                <thead>
                    <tr>
                        <th style="width: 30%">Title</th>
                        <th style="width: 30%">Progress</th>
                        <!--<th>Downloaded</th>-->
                        <th style="width: 10%">Status</th>
                        <th style="width: 10%">Actions</th>
                    </tr>
                </thead>   
                <tbody>

                    {% for tr in torrents %}
                    <tr>
                        <td>{{tr.Name}}</td>
                        <td class="center">
                            
                            <div class="progress progress-striped active">
                                <div class="bar" style="width: {{tr.Progress}}%;"></div>
                            </div>
                        </td>
                       
                        <td class="center">
                            <span class="label label-success">{{tr.Status}}</span>
                        </td>
                        <td class="center">            
                            <a class="btn btn-mini btn-danger" onclick="deleteTorrent(this,'{{tr.pk}}')"  >
                                <i class="icon-trash icon-white"></i> 
                                Delete
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if not  torrents %}
                    <tr>
                        <td colspan="5" style="text-align:center" >
                               There is no active torrent caching happening, Try adding a magnet link or link to torrent file on <a href="/dashboard">Add new tab</a>.
                        </td>
                    </tr>
                    
                    {% endif %}
                </tbody>
            </table>

            <!--<input type="file" maxlength="500" style="opacity: 0;">-->
            <div class="clearfix"></div>

        </div>

    </div>


    {% include "dashBoardDown.html" %}