{% include "dashBoardUp.html" %}
<div>
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a> <span class="divider">/</span>
        </li>
        <li>
            <a href="#">Register</a>
        </li>
    </ul>
</div>


<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header well">
            <h2><i class="icon icon-user icon-orange"></i> Create an account</h2>
            <div class="box-icon">
                <!--                                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>-->
                <!--<a href="#" class="btn btn-minimize"><i class="icon icon-orange icon-arrow-4diag"></i></a>-->
                <!--                                    <a href="#" class="btn-close"><i class="icon-remove"></i></a>-->
            </div>
        </div>
        <div class="box-content" >
            <div class="clearfix"></div>
            <div class="input-append" id="main-input-div">
                <div class="control-group main-input-ctrlgp ">
                    <!--<label class="control-label" for="inputError"></label>-->
                    <div class="controls">
                        
                        <form class="form-horizontal" action="" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Create the account">
                        </form>
                    </div>
                </div>

            </div>

            <!--<input type="file" maxlength="500" style="opacity: 0;">-->
            <div class="clearfix"></div>
        </div>
    </div>
</div>


{% include "dashBoardDown.html" %}