<div class="span2 main-menu-span">
    <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <!--                            <li class="nav-header hidden-tablet">Main</li>-->
            <li>
                <a class="ajax-link" data-placement="right" data-rel="tooltip" class="well span3 top-block" href="/dashboard" data-original-title="">
                    <i class="icon icon-orange icon-home"></i>
                    <span class="hidden-tablet"> Dashboard</span>
                </a>
            </li>
            <li>
                <a class="ajax-link" data-placement="right" data-rel="tooltip" class="well span3 top-block" href="/myTrrs" data-original-title="All Active Transfers">
                    <i class="icon icon-orange icon-transfer-ew"></i>
                    <span class="hidden-tablet"> TRRs</span>
                </a>
            </li>

            <li>
                <a class="ajax-link" data-placement="right" data-rel="tooltip" class="well span3 top-block" href="/myDrrs" data-original-title="All Completed Tranfers">
                    <i class="icon icon-orange icon-folder-open" ></i>
                    <span class="hidden-tablet"> DRRs</span>
                </a>
            </li>
            <li>
<!--                <a class="ajax-link" data-placement="right" data-rel="tooltip" class="well span3 top-block" href="#" data-original-title="Account Settings">
                    <i class="icon icon-orange icon-gear"></i>
                    <span class="hidden-tablet"> My Account</span>
                </a>-->
            </li>
<!--            <li>
                <a class="ajax-link" data-placement="right" data-rel="tooltip" class="well span3 top-block" href="/letmeOut" data-original-title="Sign Out">
                    <i class="icon icon-orange icon-font"></i>
                    <span class="hidden-tablet"> Sign Out</span>
                </a>
            </li>-->

        </ul>
        <label style="display: none" id="for-is-ajax" class="hidden-tablet" for="is-ajax"><input id="is-ajax" type="checkbox" checked> Ajax on menu</label>
    </div><!--/.well -->
</div><!--/span-->